@define-color base00 #181818;
@define-color base01 rgba(28, 31, 43, 1.0);
@define-color base02 rgba(28, 31, 43, 0.0);
@define-color black rgba(28, 31, 43, 0.4);
@define-color purple rgba(199, 146, 234, 1);
@define-color base03 #585858;
@define-color blue rgba(130, 170, 255, 1);
@define-color base04 rgba(195, 232, 141, 1);
@define-color green rgba(195, 232, 141, 1);
@define-color base05 #d8d8d8;
@define-color base06 #e8e8e8;
@define-color base07 #f8f8f8;
@define-color white #EEFFFF;
@define-color red rgba(255, 83, 112, 1);
@define-color base08 #ab4642;
@define-color base09 #dc9656;
@define-color base0A #f7ca88;
@define-color base0B #a1b56c;
@define-color base0C #86c1b9;
@define-color base0D #7cafc2;
@define-color base0E #ba8baf;
@define-color base0F #a16946;

* {
  transition: none;
  box-shadow: none;
}

#waybar {
    font-family: 'Iosevka Aile', sans-serif;
    font-size: 1.0em;
    font-weight: 400;
    color: @base04;
    background: @base01;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  margin: 4px 0;
  padding: 0 4px;
  color: @blue;
}

#workspaces button.active {
  border-radius: 4px;
  color: @green;
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

/* dwl/River tags styling */
#tags button {
    /* background: rgba(28, 31, 43, 0.7); */
    color: @blue;
    padding: 5px;
}
#tags button.occupied {
    /* background: rgba(130, 170, 255, 1); */
    /* color: rgba(28, 31, 43, 1); */
    color: @purple;
}
#tags button.focused {
    /* background: rgba(195, 232, 141, 1); */
    /* color: rgba(28, 31, 43, 1); */
    color: @green;
}
#tags button.urgent {
    background: @red;
    color: @black;
}

#window {
    color: @purple;
}


#tray {
  margin: 4px 4px 4px 4px;
  border-radius: 4px;
  background-color: @base02;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid @base00;
}

#tray *:first-child {
  border-left: none;
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #clock, #temperature {
  margin: 4px 2px;
  padding: 0 6px;
  background-color: @base02;
  border-radius: 4px;
  min-width: 20px;
}


#idle_inhibitor.activated {
  color: @green;
}

#idle_inhibitor.deactivated {
  color: @blue;
}

#pulseaudio.muted {
  color: @base0F;
}

#pulseaudio.bluetooth {
  color: @base0C;
}

#clock {
  margin-left: 0px;
  margin-right: 4px;
  background-color: transparent;
}

#temperature.critical {
  color: @base0F;
}

#window {
    font-size: 1.0em;
    font-weight: 400;
    font-family: sans-serif;
    /* text-decoration-line: underline; */
    /* background-color: @black; */
    border-radius: 4px;
}
#window.empty {
    font-size: 0.0em;
}
