* {
	background-image: none;
}
window {
    background-color: rgba(40, 40, 40, 0.3);
}
button {
    color: #FFFFFF;
	background-color: rgba(40, 40, 40, 0.6);
	border-style: solid;
	border-color: rgba(195, 232, 141, 0.9);
	/* border-color: rgba(130, 170, 255, 1); */
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

/* button:focus, button:active, button:hover { */
/* 	background-color: rgba(146, 131, 116, 0.9); */
/* 	outline-style: none; */
/* } */

button:focus, button:active {
	/* background-color: rgba(146, 131, 116, 0.9); */
	/* background-color: rgba(187, 128, 179, 0.9); */
	/* background-color: rgba(195, 232, 141, 0.9); */
	background-color: rgba(130, 170, 255, 1);


	outline-style: none;
}


#lock {
    /* background-image: image(url("/home/k8x1d/.guix-profile/share/wlogout/icons/lock.png")); */
    background-image: image(url("/home/k8x1d/.config/wlogout/icons/lock.png"));
}

#logout {
    /* background-image: image(url("/home/k8x1d/.guix-profile/share/wlogout/icons/logout.png")); */
    background-image: image(url("/home/k8x1d/.config/wlogout/icons/logout.png"));
}

#suspend {
    /* background-image: image(url("/home/k8x1d/.guix-profile/share/wlogout/icons/suspend.png")); */
    background-image: image(url("/home/k8x1d/.config/wlogout/icons/suspend.png"));
}

#hibernate {
    /* background-image: image(url("/home/k8x1d/.guix-profile/share/wlogout/icons/hibernate.png")); */
    background-image: image(url("/home/k8x1d/.config/wlogout/icons/hibernate.png"));
}

#shutdown {
    /* background-image: image(url("/home/k8x1d/.guix-profile/share/wlogout/icons/shutdown.png")); */
    background-image: image(url("/home/k8x1d/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    /* background-image: image(url("/home/k8x1d/.guix-profile/share/wlogout/icons/reboot.png")); */
    background-image: image(url("/home/k8x1d/.config/wlogout/icons/reboot.png"));
}
